:root {
  --base-color: rgb(255 255 255);
  --main-color: rgb(123 136 161);
  --accent-color-relaxed: rgb(76 86 106);
  --accent-color-vivid: rgb(115 151 186);
  --border-color: rgb(216 222 233);
}

html,
body {
  max-width: 75em;
  height: 100%;
  margin: auto;
  font-family: Rubik, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: var(--main-color);
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

header {
  position: sticky;
  top: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--main-bg-color);
}

footer {
  display: flex;
  justify-content: center;
  margin: 16px 8px;
}

main {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-content: center;
  align-items: flex-start;
  justify-content: center;
  max-width: 48rem;
  margin: 0 auto;
}

article {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: baseline;
}

article dt {
  display: none;
}

h3,
h4 {
  font-size: 1.3rem;
  font-weight: bold;
}

h5,
h6 {
  font-size: 1rem;
  font-weight: bold;
}

code::after code::before {
  content: '`';
}

/* verified */
.logo {
  padding: 1em 0;
  font-size: 1.125rem;
  color: var(--accent-color-relaxed);
}

.nav-items {
  display: flex;
  gap: 20px;
  font-size: 1.125rem;
  color: var(--accent-color-relaxed);
}

.nav-item {
  display: flex;
  gap: 6px;
  align-items: center;
  justify-content: space-between;
  padding: 1em 0;
  margin-right: 10px;
}

.nav-item:hover {
  color: var(--accent-color-vivid);
  text-decoration: underline var(--accent-color-vivid) solid;
}

.site-name {
  font-size: 2rem;
  font-weight: bold;
  color: var(--accent-color-relaxed);
  letter-spacing: 0.05em;
}

.site-description {
  font-size: 1.125rem;
  color: var(--accent-color-relaxed);
}

.article {
  padding-block-start: 3em;
  padding-block-end: 3em;
  border-block-start: solid var(--border-color);
}

.article-title {
  font-size: 1.5rem;
  color: var(--accent-color-relaxed);
}

.article-title:hover {
  color: var(--accent-color-vivid);
  text-decoration: underline var(--accent-color-vivid) solid;
}

.article-body {
  display: grid;
  gap: 24px;
}

.page-heading {
  margin-block-end: 3em;
}

.tag-items {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: start;
  color: var(--accent-color-vivid);
}

.page-link {
  color: var(--accent-color-vivid);
}

.tag-items a:hover,
.page-link:hover {
  color: var(--accent-color-relaxed);
  text-decoration: underline var(--accent-color-relaxed) solid;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.profile {
  display: flex;
  flex: 4fr;
  flex-direction: column;
  align-items: center;
}

.sns {
  display: flex;
  flex: 1fr;
  justify-content: space-between;
}

.sns-item:not(:last-child) {
  margin-right: 10px;
}

.profile li {
  display: inline;
}

.profile li:not(:last-child)::after {
  content: ' / ';
}

.profile-img {
  max-width: 8em;
  max-height: 8em;
}

.introduction {
  margin-block-start: 16px;
  text-align: center;
}

.full-name {
  font-size: 1.5rem;
  font-weight: 700;
}

.form {
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #ccc;
}

.search {
  flex: 9fr;
  width: 100%;
  padding: 10px;
  font-size: 1.6rem;
  letter-spacing: 0.06em;
  white-space: nowrap;
  border: 0;
}

.search-icon {
  flex: 1fr;
  padding: 0;
  background-color: white;
  border: none;
}

.tags {
  max-width: 80%;
  margin-top: 58px;
}

.close-btn {
  margin-top: 30px;
  background-color: white;
  border: none;
  border-bottom: 1px solid #505f6e;
}

.page-wrapper {
  display: grid;
  grid-template-columns: 1fr 25%;
  justify-items: start;
}

.published-date,
.last-edited-date {
  display: flex;
  justify-content: space-between;
}
}
}
